.document {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  cursor: pointer;
  /* padding: 20px; */
}

.document:hover {
  transform: scale(1.05); /* Adding slight scale for extra effect */
}
